.site__wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.site__wrapper h1 {
    text-align: center;
    font-size: 48px;
}

.addTask__wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.addTask__wrapper input {
    height: 20px;
    width: 400px;
}

.ToDoItem {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid;
    border-radius: 0.5rem;
    border-color: rgb(199, 199, 199);
    color: rgb(250, 250, 250);
    background-color: rgba(0, 81, 255, 0.838);
    ;
    margin-top: 20px;
}